@page "/"

<h1>Hello, world!</h1>
Username
<InputText></InputText>
Password
<InputText></InputText>
<button class="btn btn-primary" @onclick="Login">Login</button>
<button class="btn btn-primary" @onclick="Register">Register</button>
<SurveyPrompt Title="How is Blazor working for you?" />


@code 
{
    private void Login()
    {

    }

    private void Register()
    {

    }
}