@page "/"
@inject NavigationManager NavigationManager

<h1>Chatter!</h1>
@*<EditForm>
    Username
    <InputText></InputText>
    Password
    <InputText></InputText>
    IP
    <InputText></InputText>
</EditForm>*@
<button class="btn btn-primary" @ @onclick="Login">Login</button>
<button class="btn btn-primary" @onclick="Register">Register</button>


@code
{
    private void Login()
    {

    }

    private void Register()
    {
        NavigationManager.NavigateTo("Reg");
    }
}